import("rJava")
export("rimpala.query")
export("rimpala.init")
export("rimpala.connect")
export("rimpala.close")
export("rimpala.showtables")
export("rimpala.showdatabases")
export("rimpala.describe")
export("rimpala.usedatabase")
export("rimpala.invalidate")
export("rimpala.refresh")
